<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <style>
        .hr1 {
            border: none;
            border-top: 6px solid black;
        }
        .hr2 {
            border: none;
            border-top: 3px solid grey;
        }
        .main-logo{
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <!-- logo-->
    <div style="border: none;">
        <table>
            <tr>
                <td>
                    <img src="images/img.png" href="./images/img.png" vwidth="120" height="100" style="margin-left: 550px">
                </td>
                <td>
                    <h1 class="main-logo">Myboard</h1>
                </td>
            </tr>
        </table>
    </div>

    <!-- przedzialek-->
    <hr class="hr1">
    <!-- formularz do logowanie-->
    <table>
        <tr>
            <td>
                <h2>Logowanie</h2>
                <form action="/register" method="post">
                    <label for="login-email">Email:</label><br>
                    <input type="text" id="login-email" name="email"><br>
                    <label for="login-password">Password:</label><br>
                    <input type="password" id="login-password" name="password"><br><br>
                    <button type="submit">Login</button><br>
                </form>
            </td>
            <td>
                <h2>Rejestracja</h2>
                <form action="/register" method="post">
                    <label for="register-email">Email:</label><br>
                    <input type="text" id="register-email" name="email"><br>
                    <label for="register-password">Password:</label><br>
                    <input type="password" id="register-password" name="password"><br><br>
                    <button type="submit">Register</button><br>
                </form>
            </td>
        </tr>
    </table>



</body>
</html>