<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/json-enc.js"></script>
    <style>
        .hr1 {
            border: none;
            border-top: 6px solid black;
        }
        .main-logo{
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <!-- logo-->
    <div>
        <table style="margin: auto">
            <tr>
                <td>
                    <img src="images/img.png" href="./images/img.png">
                </td>
                <td>
                    <h1 class="main-logo">Myboard</h1>
                </td>
            </tr>
        </table>
    </div>

    <!-- przedzialek-->
    <hr class="hr1">
    <!-- formularz do logowanie-->
    <table id="log-reg-panel"style="margin: auto">
        <tr>
            <td>
                <h2>Logowanie</h2>
                <form
                        hx-target="#log-reg-panel"
                        hx-post="/login"
                        hx-ext="json-enc"
                >
                    <input type="text" name="email" placeholder="Name" required><br>
                    <input type="password" name="password" placeholder="Password" required><br>
                    <button type="submit">Login</button>
                </form>

                <div id="response"></div>
            </td>
            <td id = "register-tab">
                <h2>Rejestracja</h2>
                <form
                hx-target="#register-tab"
                hx-post="/register"
                hx-ext="json-enc"
                >
                    <input type="text" name="email" placeholder="Your email" required><br>
                    <input type="password" name="password" placeholder="Password" required><br>
                    <button type="submit">Login</button>
                </form>
            </td>
        </tr>
    </table>

    <hr class="hr1">

    <div>
        <input class="form-control" type="search"
               name="search" placeholder="Begin Typing To Search Users..."
               hx-post="/search"
               hx-trigger="input changed delay:500ms, search"
               hx-target="#search-results"
               hx-indicator=".htmx-indicator">
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody id="search-results">
            </tbody>
        </table>
    </div>

    <hr class="hr1">

    <div hx-get="/posts/1" hx-trigger="load"></div>
</body>
</html>